<h1>Coaching#answer</h1>

<h2 class="text-center">your question was: "<%= @question %>" </h2>
<p> <%= @answer %></p>
<!-- <h2 class="text-center"> coach_answer(your_message) -->
<%= link_to "ask another question", ask_path%>



