<h1>Coaching#ask</h1>

<h2>What is your question kiddo?</h2>

<form action="/answer" method="get">
<label for="askQestion">Ask me anything</label>
  <input name="query" type="text">
  <input type="submit" value="Send">

</form>
